body{
    background-color: burlywood;
}
.todo{
    padding-left: 600px;
}
.container{
    width: 40%;
    padding-left: 400px;
    
    

    
}
#tsk input{
    width: 500px;
    height: 50px;
    padding: 12px;
    font-weight: 500;
    position: relative;
    border-radius: 40px;
    border: 2px black;
    
}

#task input:focus{
    outline: none;
}
#tsk button{
    cursor: pointer;
    border-color: black;
   
    background-color: blue;
    width: 100px;
    height: 50px;
    border-radius: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.table1{

    color: black solid ;
    text-decoration: solid;
    font-size: larger;
    width: 900px;
    border: 2px black solid;
}
td{
    text-align: center;
    text-size-adjust: 30px;
}
