{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>




</head>
<div>

    <div class="todo">
        <h1>TO DO LIST</h1><br><br>
    </div>
    <div class="container">
        <div id="tsk">
            <input type="text" id="task" placeholder="Add task"><br><br>
            <input type="text" id="activity" placeholder="Add activity">
            <br><br><br>
            <button type="button" onclick="addtask()" id="btn2">ADD</button>
        </div>
    </div>
    <br><br><br>
    <div>
        <table class="table1" id="todo_id">
            <thead>
                <tr>
                    <th scope="col">sl.no</th>
                    <th scope="col">Task</th>
                    <th scope="col">Activity</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <script>
        var sl_no = 0
        var tr_no = 0
        function addtask() 
        {
            var table1 = document.getElementById("todo_id")
            var new_tr = document.createElement("tr")
            var task = document.getElementById("task")
            var activity = document.getElementById("activity")
            var status = "pending"
            var date = new Date()
            var current_date = date.getDate() + "/" + date.getMonth() + "/" + date.getFullYear()
            console.log(current_date)

            tr_no++
            var tr_id = "tr" + tr_no
            new_tr.setAttribute("id", tr_id)

            var td_sn = new_tr.appendChild(document.createElement('td'))
            var td_task = new_tr.appendChild(document.createElement('td'))
            var td_activity = new_tr.appendChild(document.createElement('td'))
            var td_date = new_tr.appendChild(document.createElement('td'))
            var td_status = new_tr.appendChild(document.createElement('td'))
            var td_action = new_tr.appendChild(document.createElement('td'))

            sl_no ++
            td_sn.innerHTML = sl_no
            td_task.innerHTML = task.value
            td_activity.innerHTML = activity.value
            td_date.innerHTML = current_date
            td_status.innerHTML = "<span id='span' style = 'color:red'>pending</span>"
            td_action.innerHTML = "<button type = 'button' onclick = taskCompleted() class= 'btn btn-primary' id= 'btn2'>completed</button>"


            task.value = ""
            activity.value = ""

            table1.appendChild(new_tr)



        }
        function taskCompleted() {
            var selected_row_id = event.target.parentNode.parentNode.id
            var selected_row = document.getElementById(selected_row_id)
            var children = selected_row.childNodes
            console.log(children)
            console.log(selected_row_id)
            children[4].innerHTML = "<span style ='color:green'>complete</span>"
            selected_row.style.textDecoration = "line-through"
        }



    </script>
</div>
</body>

</html>